In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn

In [3]:
df = pd.read_csv("train.csv")

In [6]:
print(len(df))

17494

In [8]:
df.head(5)

,review_id,title,year,user_review,user_suggestion
0,1,Spooky's Jump Scare Mansion,2016.0,I'm scared and hearing creepy voices. So I'll...,1
1,2,Spooky's Jump Scare Mansion,2016.0,"Best game, more better than Sam Pepper's YouTu...",1
2,3,Spooky's Jump Scare Mansion,2016.0,"A littly iffy on the controls, but once you kn...",1
3,4,Spooky's Jump Scare Mansion,2015.0,"Great game, fun and colorful and all that.A si...",1
4,5,Spooky's Jump Scare Mansion,2015.0,Not many games have the cute tag right next to...,1

**Determine which game represents about 10% of the total reviews to use as a test set**

In [19]:
df_grouped = df.groupby(by=["title"]).count()
df_grouped["percentage"] = df_grouped["review_id"] / len(df_grouped)
df_grouped = df_grouped.sort_values("percentage")
df_grouped.head(5)

,review_id,year,user_review,user_suggestion,percentage
title,,,,,
Tactical Monsters Rumble Arena,38,34,38,38,0.863636
Shop Heroes,52,51,52,52,1.181818
Freestyle 2: Street Basketball,57,57,57,57,1.295455
Dreadnought,60,60,60,60,1.363636
EverQuest II,69,67,69,69,1.568182

In [23]:
df_grouped = df_grouped[df_grouped["percentage"] > 10.0]
df_grouped.head(5)

                 review_id  year  user_review  user_suggestion  percentage
title
Realm Royale           442   431          442              442   10.045455
Fallout Shelter        447   445          447              447   10.159091
SMITE®                 454   451          454              454   10.318182
Path of Exile          458   455          458              458   10.409091
PlanetSide 2           472   470          472              472   10.727273

**Realm Royale is selected as the held-out test set.**